// mixin for media query
.screen(@min, @max, @ruleset) {
  @media (min-width: @min) and (max-width: (@max - 1)) {
    @ruleset();
  }
}



* {
    box-sizing: border-box;
}

body {
    background-color: #051142;
    background-image: url(../img/background-header.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    color: #ffffff;
    max-width: 1160px;
    min-width: 320px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
.wrapper {
    margin: 0 auto;
    padding: 4% 8%;

    .screen( 320px, 768px, {
        padding: 3% 5%;
    });

}

.header-logo__img {
    margin: 0 auto;
    display: flex;
}
.header-content,
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
}
.header-content {
    height: 700px;

    .screen( 320px, 526px, {
        height: auto;
    });
    
    .screen(526px, 768px, {
       height: 600px;
    });
    
}

.header__title,
.main-inner__next-title {
    font-size: 2.6429rem;
    font-weight: 300;
    text-transform: uppercase;
	text-align: center;
	color: #ffffff;

    .screen(768px, 1024px, {
        font-size: 4.6429rem;
    });

    .screen(1024px, 2220px, {
        font-size: 7.6429rem;
    });
}

.header__title {
    margin-top: 2rem; 

    .screen(1024px, 2220px, {
        margin: 0;
    });
}

.header__description {
    font-family: Roboto, sans-serif;
	font-size: 26.8px;
	line-height: 1.67;
	text-align: center;
	color: #4b5fae;
    max-width: 747px;

     .screen(320px, 768px, {
        font-size: 24px;
    });
    
}

.header-content-img {
    position: absolute;
    bottom: 0;
    left: 0;

    .screen( 768px, 1024px, {
        left: -123px;
       
    });
    .screen(526px, 768px, {
        top: 200px;
        width: 95%;
        left: 0px;
       
    });
    .screen(320px, 526px, {
        display: none;
    });

}
.table {
    width: 80%;
    margin: 0 auto;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
}
  
.header-row {
    background-color: #23316c;
    font-weight: 700;
}
.table-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #23316c;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;

    .screen( 320px, 768px, {
        font-size: 1rem;
    });
}
.left-column,
.right-column{ 
  padding: 1rem;
  text-align: left;
}

.main-inner__next-title {
    margin-bottom: 2rem;
}
.main-inner__next-description {
    color: #4b5faf;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 300;
    max-width: 90%;
    text-align: center;

    .screen( 320px, 768px, {
         font-size: 1.5rem;
    });

}

.main-section__text {
    font-size: 26.8px;
    line-height: 1.5;
    font-weight: 300;

    .screen( 320px, 768px, {
         font-size: 1.5rem;
         text-align: center;
    });

    
    &:first-child {
         .screen(1024px, 2220px, {
            height: 232px;
         });

    }
}
.main-section__img {
    max-width: 45%;
    float: left;
    margin-top: -2.5rem;

    .screen(1024px, 2220px, {
            margin-top: -3.5rem;
        });
    .screen (320px, 768px, {
           display: none;
    });
}

.main-inner__button {
    width: 440px;
    font-size: 36px;
    box-shadow: 0 2px 2px 0 #a94311;
    color: #ffffff;
    line-height: 1.5;
    padding: 1rem 3rem;
    background-color: #fa8e00;
    border-radius: 12px;
    border: none;
    margin-top: 2rem;
    transition: background-color .5 ease-in-out;

    &:hover {
        background-color: #a94311;
        box-shadow: 0 2px 2px 0 #fa8e00;
        outline: none;
    }
     .screen(320px, 560px, {
        width: 80%;
        font-size: 20px;
    });
     
}